:root {
    --amarelo: #FDDE5C;
    --azul: #7AB5CB;
    --cinza-barra: #D4D2D2;
    --cinza-fundo: #E6E4E1;
    --preto: #000;
}

.insercoes {
    width: 100%;
    display: none;
}

.defesa,
.passes,
.ataques,
.saques,
.bloqueios,
.levantamentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--cinza-fundo);
    padding: 1px;
    text-wrap: nowrap;
    margin: 1px;
}

.defesa,
.passes>div,
.ataques>div,
.saques>div,
.bloqueios>div,
.levantamentos>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.atributos_span {
    width: 30px;
    cursor: pointer;
    padding: 1px 1px;
    background-color: var(--azul);
    color: var(--amarelo);
    border-radius: 10px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 15px;
}

.jogadores>form {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

.jogadores>form button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#jogadores_no_time {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#adicionar_jogador {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#jogadores_no_time>div {
    width: auto;
    margin-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--cinza-barra);
    padding: 1px;
    border-radius: 10px;
    margin: 1px;
}

.insercao_individual {
    width: 100%;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

input[type=number] {
    max-width: 30px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

span {
    font-size: 15px;
    padding-right: 1px;
    padding-left: 1px;
}

.linha_unica {
    display: flex;
    flex-direction: row;
    align-items: center;
}