@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --preto: #000;
    --amarelo: #FDDE5C;
    --laranja-escuro: #590902;
    --laranja-claro: #F25C05;
    --branco: #E6E4E1;
    --cinza: #F2F2F2;
}


/*  PARTE DO LOGIN */
/*
.login-form {
    width: 360px;
    background-color: var(--laranja);  Cor de fundo do formulário em laranja 
    padding: 40px;
    margin: 100px auto;  Centraliza o formulário verticalmente e na horizontal 
    border-radius: 10px;  Borda arredondada 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);  Sombra suave 
  }
  .login-form h2 {
    color: var(--preto);  Texto branco 
    text-align: center;
    margin-bottom: 30px;
  }
  .login-form .form-control {
    background-color: #ffe6c1;  Cor de fundo dos campos de input em laranja claro 
    color: var(--preto);  Cor do texto dos campos de input 
    border-color: #ffa45c;  Cor da borda dos campos de input 
  }
  .login-form .btn {
    background-color: #ff814a;  Botão laranja 
    border-color: #ff814a;  Borda do botão laranja 
  }
  .login-form .btn:hover {
    background-color: #ff9d6f;  Cor do botão ao passar o mouse 
    border-color: #ff9d6f;  Cor da borda do botão ao passar o mouse 
  }
  .form-label{
    color: var(--preto);
  }

*/

/*PARTE DE LOGIN*/



#logo {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#nav {
    background-color: var(--amarelo);
    padding: 0;
}

body {
    background-color: var(--branco);
}

li {
    margin-left: 20px;
}

input{
  background-color: #D4D2D2;
}


button.botao_deslogar {
    background-color: var(--laranja-claro);
    color: var(--laranja-escuro);
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px var(--laranja-claro);
    position: fixed;
    right: 30px;
    top: 15px;
    cursor: pointer;
}


button.botao_deslogar:hover {
    background-color: var(--laranja-escuro);
    color: var(--cinza);
    box-shadow: 2px 2px 2px var(--laranja-escuro);
}

button {
    background-color: var(--laranja);
    color: var(--cinza);
}

button[disabled] {
    opacity: 0.7;
    background-color: var(--laranja-claro);
    color: var(--cinza);
}

legend {
    color: var(--cinza);
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    color: var(--cinza)
}

.clear {
    background: transparent;
    border: none;
    color: var(--laranja-claro);
}

.solid {
    background: var(--laranja);
    border: none;
    color: rgb(45, 211, 111);
}

.outline {
    background: transparent;
    color: var(--marrom);
    border: 1px solid white;
}

.error {
    color: white;
    background: red;
    display: none;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.loading span {
    font-size: 24PX;
}

form {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

@media only screen and (max-width: 600px) {
    button.botao_deslogar {
        left: 15px;
        top: 100px;
    }
}

/*
@media only screen and (max-width: 600px) {
    #logo {
        float: left;
        width: 10%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 15px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 65%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 10px;
    }
}


@media only screen and (min-width: 600px) {
    #logo {
        float: left;
        width: 8%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 21px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 65%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 10px;
    }
}


@media only screen and (min-width: 768px) {
    #logo {
        float: left;
        width: 7%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 27px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 70%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 15px;
    }
}


@media only screen and (min-width: 992px) {

    #logo {
        float: left;
        width: 6%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 27px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 75%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1200px) {

    #logo {
        float: left;
        width: 5%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 27px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 80%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1756px) {

    #logo {
        float: left;
        width: 3%;
        height: 5%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 85%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 2000px) {

    #logo {
        float: left;
        width: 4%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 100%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}*/