:root {
  --amarelo: #FDDE5C;
  --azul: #7AB5CB;
  --cinza-barra: #D4D2D2;
  --cinza-fundo: #E6E4E1;
  --preto: #000;
}

#logo {
  width: 90px;
  height: 90px;
}

#login {
  margin: 10px;
  width: 30px;
  height: 30px;
}

body {
  background-color: #f8f9fa;
  /* Cor de fundo leve para o corpo */
}

#card {
  background-color: var(--azul);
  /* Fundo azul escuro para o card */
  color: var(--cinza-fundo);
  /* Cor do texto em branco */
  border-radius: 30px;
  /* Bordas arredondadas no card */
  max-width: 400px;
  width: 100%;
}

h2 {
  margin-bottom: 1rem;
  /* Espaçamento abaixo do título */
}

.form-control {
  background-color: var(--cinza-barra);
  /* Caixas de entrada em cinza claro */
  color: #333;
  /* Texto dentro das caixas em cinza escuro para contraste */
  border: 1px solid #ccc;
  /* Borda padrão para as caixas de entrada */
}

.erro {
  font-size: 0.875rem;
  /* Tamanho da fonte menor para mensagens de erro */
  display: none;
  /* Oculta mensagens de erro por padrão */
}

#recuperar-senha-botao {
  background-color: var(--amarelo);
  /* Botões em amarelo pastel */
  color: #003366;
  /* Texto dos botões em azul escuro */
  border: none;
  /* Remove a borda padrão dos botões */

}

#login-botao {
  background-color: var(--amarelo);
  /* Botões em amarelo pastel */
  color: #003366;
  /* Texto dos botões em azul escuro */
  border: none;
  /* Remove a borda padrão dos botões */
}