:root {
    --amarelo: #FDDE5C;
    --azul: #7AB5CB;
    --cinza-barra: #D4D2D2;
    --cinza-fundo: #E6E4E1;
    --preto: #000;
}

#card {
    background-color: var(--azul);
    max-width: 400px;
    width: 100%;
}

#btn {
    background-color: var(--amarelo);
}