/*:root {
    --amarelo:#FDDE5C;
    --preto: #000;
    --cinza:#E6E4E1;
    --marrom: #261515;
    --branco: #fff;
    
}

main {
    float: left;
    width: 100%;
    background-color: var(--cinza);
}

select {
    background-color: var(--amarelo);
    color: var(--preto);
    height: 30px;
    font-size: 20px;
    border: 2px solid var(--amarelo);
    border-radius: 10px;
    margin: 5px;
}

label {
    font-size: 23px;
    color: var(--cinza);
}

.titulo_graficos {
    color: var(--preto);
}

.escolher_time,
#escolher_jogador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graficos {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--cinza);
}

.graficos>section {
    width: 350px;
    text-align: center;
}

canvas {
    width: 300px;
    padding: 5px;
}

#escolher_jogador {
    display: none;
}

#exibir_graficos_time,
#exibir_graficos_jogador {
    background-color: var(--amarelo);
}

#time {
    width: 20%;
    background-color: var(--amarelo);
    border: var(--amarelo);
}