@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --amarelo: #FDDE5C;
    --azul:#7AB5CB;
    --cinza-barra:#D4D2D2;
    --cinza-fundo:#E6E4E1;
    --preto:#000;
  }
/*LOGIN*/
.login-form{
    width: 360px;
    background-color: var(--azul);/*formulário em azul*/
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px var(--preto);  
}

/*
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --preto: #000;

    --cinza: #E6E4E1;
    --amarelo:#FDDE5C;
    --azul-claro: #7AB5CB;
    --marrom: #261515;
    --branco: #fff;
    --cinza-claro: #F2F2F2;
}


/*  PARTE DO LOGIN */
/*.login-form {
    width: 360px;
    background-color: var(--azul-claro); /* Cor de fundo do formulário em azul */
  /*padding: 40px;
    margin: 100px auto;  /*Centraliza o formulário verticalmente e na horizontal*/ 
    /*border-radius: 10px; /* Borda arredondada */
    /*box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);  /*Sombra suave */
  /*}
  .login-form h2 {
    color: var(--cinza); /* Texto preto */
/*    text-align: center;
    margin-bottom: 30px; 
  }
  .login-form .form-control {
    background-color: var(--cinza); /* Cor de fundo dos campos de input em cinza */
/*    color: var(--preto); /* Cor do texto dos campos de input */
/*    border-color: var(--cinza); /* Cor da borda dos campos de input */
/*  }
  .login-form .btn {
    background-color: var(--amarelo); /* Botão amarelo*/
/*    border-color: var(--amarelo); /* Borda do botão amarelo */
/*  }
  .login-form .btn:hover {
    background-color: var(--amarelo); /* Cor do botão ao passar o mouse */
/*    border-color: var(--amarelo); /* Cor da borda do botão ao passar o mouse */
/*  }
  .form-label{
    color: var(--cinza);
  }

*/

/*PARTE DE LOGIN*/


/*body {
    background-color: var(--cinza);
}

#logo {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#nav {
    background-color: var(--amarelo);
    padding: 0;
}

#nav_container {
    background-color: var(--amarelo);
}
main {
    background-color: var(--cinza);
    width: 100%;
    height: 100%;
}

li {
    margin-left: 20px;
}


button.botao_deslogar {
    background-color: var(--laranja-claro);
    color: var(--laranja-escuro);
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px var(--laranja-claro);
    position: fixed;
    right: 30px;
    top: 15px;
    cursor: pointer;
}


button.botao_deslogar:hover {
    background-color: var(--laranja-escuro);
    color: var(--cinza);
    box-shadow: 2px 2px 2px var(--laranja-escuro);
}

button {
    background-color: var(--amarelo);
    color: var(--cinza);
}

button[disabled] {
    background-color: var(--amarelo);
    color: var(--cinza);
}

legend {
    color: var(--cinza);
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    color: var(--cinza)
}

.clear {
    background: transparent;
    border: none;
    color: var(--preto);
}

.solid {
    background: var(--amarelo);
    border: none;
    color: rgb(45, 211, 111);
}

.outline {
    background: transparent;
    color: var(--marrom);
    border: 1px solid white;
}

.error {
    color: white;
    background: red;
    display: none;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.loading span {
    font-size: 24PX;
}

form {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

@media only screen and (max-width: 600px) {
    button.botao_deslogar {
        left: 15px;
        top: 100px;
    }
}

/*
@media only screen and (max-width: 600px) {
    #logo {
        float: left;
        width: 10%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 15px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 65%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 10px;
    }
}


@media only screen and (min-width: 600px) {
    #logo {
        float: left;
        width: 8%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 21px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 65%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 10px;
    }
}


@media only screen and (min-width: 768px) {
    #logo {
        float: left;
        width: 7%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 27px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 70%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 15px;
    }
}


@media only screen and (min-width: 992px) {

    #logo {
        float: left;
        width: 6%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 27px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 75%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1200px) {

    #logo {
        float: left;
        width: 5%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
        font-size: 27px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 80%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1756px) {

    #logo {
        float: left;
        width: 3%;
        height: 5%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 85%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 2000px) {

    #logo {
        float: left;
        width: 4%;
        height: 6%;
        border-radius: 60%;
        margin: 4px;
    }

    header>h1 {
        margin: 15px 0;
        float: left;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--laranja);
        height: 60px;
        width: 100%;
        float: right;
    }

    nav>ul {
        width: 100%;
        max-width: 1200px;
        align-self: center;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}*/