main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E6E4E1;
}
body{
    background-color: #E6E4E1;
}
.times {
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#times_masculinos,
#times_femininos,
#times_misto {
    display: flex;
    flex-direction: column;
}

#times_masculinos>button,
#times_femininos>button,
#times_misto>button {
    margin-bottom: 10px;
}

#duvidas>#descricao_botoes {
    display: none;
}

#duvidas>#botao_duvidas>button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#duvidas>#botao_duvidas>button:hover {
    background-color: #590902;
}